.gallery-container {
    position: relative;
    top: 100px;
    width: 99%;
    background-color: #272727;
    padding-top: 100px;
    border-radius: 8px;
    z-index: 3;
}

.gallery-container .overlay-gallery {
    position: fixed;
    top: 100px;
    width: 100%;
    margin-left: auto;
    height: 100%;
    pointer-events: none;
    border-top-left-radius: 8px;
    outline: 10px solid #202020;
    /* Zapobiega zablokowaniu interakcji z elementami poniżej overlaya */
    z-index: 2;
    /* Wartość z-index dla pozycji fixed */
}

.gallery-container .gallery-component {
    overflow-y: auto;
}

.gallery-container .images-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /* jak kończy się miejsce w divie to elementy sa przenoszone do kolejnej lini (zawijanie) */
}